@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-xs: 470px;

  --color-fg: #111111;
  --color-stroke-700: #b5b6b8;
  --color-stroke-600: #748a94;
  --color-stroke-500: #3a3a3a;
  --color-stroke-400: #cacaca;
  --color-main-300: #181a1d;
  --color-main-400: #04070d;
  --color-main-500: #ffffff;
  --color-main-600: #111722;
  --color-main-700: #0b1421;
  --color-main-800: #13171f;
  --color-main-900: #25354e;

  --color-tertiary-500: #000;
  --color-tertiary-400: #bfbfbf;

  --color-secondary-700: #5599ff;
  --color-secondary-600: #0084ff;
  --color-secondary-500: #2a66bf;
  --color-secondary-400: #25354e;

  --color-contrast-500: #f8b863;

  --font-sans: "inter", system-ui, sans-serif;
}

/* 2) Per-widget overrides with plain CSS (no @theme here) */
.timer-widget[data-theme="dark"] {
  --color-main-300: #181a1d;
  --color-main-400: #04070d;
  --color-main-500: #0b0e14;
  --color-main-600: #111722;
  --color-main-700: #0b1421;
  --color-main-800: #13171f;
  --color-main-900: #25354e;

  --color-tertiary-500: #fff;
  --color-tertiary-400: #bfbfbf;

  --color-stroke-700: #b5b6b8;
  --color-stroke-600: #748a94;
  --color-stroke-500: #3a3a3a;
  --color-stroke-400: #cacaca;

  --color-secondary-700: #5599ff;
  --color-secondary-600: #0084ff;
  --color-secondary-500: #2a66bf;
  --color-secondary-400: #25354e;

  --color-contrast-500: #f8b863;

  --color-fg: #ffffff;
}

.timer-widget[data-theme="light"] {
  --color-main-500: #ffffff;
  --color-fg: #f5daf5;
}

html {
  font-family: var(--font-sans);
}

.timer-widget {
  color: var(--color-fg);
}
.font-archivo {
  font-family: "Archivo", "Inter", system-ui, sans-serif;
}

.font-inter {
  font-family: "inter", system-ui, sans-serif;
}

.mask-fade-down {
  --fade-color: var(--color-stroke-400); /* default */
  --fade-stop: 80%; /* default */

  -webkit-mask-image: linear-gradient(
    to bottom,
    var(--fade-color) 0%,
    transparent var(--fade-stop)
  );
  mask-image: linear-gradient(
    to bottom,
    var(--fade-color) 0%,
    transparent var(--fade-stop)
  );
}

.mask-fade-up {
  --fade-color: var(--color-stroke-400);
  --fade-stop: 80%;

  -webkit-mask-image: linear-gradient(
    to top,
    var(--fade-color) 0%,
    transparent var(--fade-stop)
  );
  mask-image: linear-gradient(
    to top,
    var(--fade-color) 0%,
    transparent var(--fade-stop)
  );
}
